<h1 style="text-align: center;">Login</h1>
<div class="container">
    <form #formularioLogin="ngForm" (ngSubmit)="login(formularioLogin)">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" ngModel name="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" ngModel name="password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <input type="submit" class="btn btn-primary" value="Login">
      </form>
</div>
<ng-container *ngIf="!valido  && valido!=undefined">
    <p style="color:red;font-weight: bold;text-decoration: underline;text-align: center;">Lo siento pero el usuario o la contraseña no son correctos</p>
</ng-container>
